:root {
    --color: #27C7AB;
}


* {
    box-sizing: border-box;
}

.container {
    width:1035px;
    margin:0 auto;
}


body {
    font-family: 'Raleway', sans-serif;
}


.logoPageHeader {
    width: auto;
    height: 90px;
    left: 40%;
    position: relative;
}
.pageHeader {
    background: #000;
    height: 90px;
    z-index: 10;
    position: relative;

}
.headerNavList{
    width: auto;
    height: 40px;
    background: grey;
    position: relative;
}


.page-nav {
    float:right;
}
.page-nav-list {}
.page-nav-list li {
    float:left;
    position: relative;
}
.page-nav-list a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size:14px;
    line-height: 40px;
    padding:0 25px;
    display: block;
}
.page-nav-list a:hover {
    color: var(--color);
}
.page-nav-list li:hover > a {
    color: var(--color);
}